<div>
    <label>
      Username: 
      <input type="text" #username/>
    </label>
    <select class ="rooms" #rooms >
        <option value="JavaScript">Debian Discussion</option>
        <option value="Python">Python</option>
        <option value="PHP">PHP</option>
        <option value="C#">C#</option>
        <option value="Ruby">Ruby</option>
        <option value="Java">Java</option>
    </select>

  
    <button (click)="onSubmit(username.value, rooms.value)">Search</button>
    
  
  
  </div> 